.container {
  width: 300px;
  margin: 0 auto;
}

.bookingWrapper h1 {
  color: var(--main-header);
  font-size: 1.3rem;
}

.bookingWrapper h2 {
  font-size: 1.3rem;
  color: var(--main-header);
}

.bookingWrapper h4 {
  color: var(--main-header);
}

.bookingWrapper .hrGray {
  margin-top: .3rem;
  border: 1px solid #707070;
}

.infoHeader {
  margin-top: 1rem;
}

.infoHeader h1 {
  margin-bottom: .3rem;
}

.infoHeader p {
  font-size: 1.15rem;
}

.chosenSeatsDisplay {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  width: 100%;
  min-height: 40px;
  border-radius: 7px;
  background-color: rgb(104, 104, 104);
}

.yourSeatsWrapper {
  margin-top: .5rem;
}

.yourSeats {
  color: rgb(224, 224, 224);
  margin: 0 .2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.btnContainer {
  margin: 1.5rem auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
}

.btn p {
  position: absolute;
  left: 55px;
  top: 20px;
  cursor: pointer;
}

.btnContainer img {
  width: 150px;
  cursor: pointer;
}

.ticketsWrapper {
  /* background-color: #434343; */
}

@media only screen and (min-width: 768px) {
  .container {
    width: 400px;
    margin-top: 2rem;
  }

  .btnContainer img {
    width: 200px;
  }

  .btn p {
    font-size: 1.3rem;
    left: 70px;
    top: 30px;
  }
}
