.container {
  width: 300px;
  margin: 0 auto;
}

.bookingWrapper h1 {
  color: var(--main-header);
  font-size: 1.5rem;
}

.bookingWrapper h2 {
  font-size: 1.2rem;
  color: var(--main-header);
}

.bookingWrapper h3 {
  font-size: 1.08rem;
  margin: .5rem 0 1rem 0;
  color: var(--main-header);
}

.bookingWrapper h4 {
  color: var(--main-header);
}

.overviewWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.yourInfoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.yourInfoWrapper h4 {
  margin-bottom: .1rem;
}

.yourInfo {
  background-color: #484848;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.yourInfo p {
  font-size: 1rem;
  margin-bottom: .2rem;
  max-width: 100%;
}

.bookingWrapper .hrGray {
  margin-top: .3rem;
  border: 1px solid #70707075;
}

.infoHeader {
  margin-top: 1rem;
}

.infoHeader h1 {
  margin-bottom: .2rem;
}

.infoHeader p {
  font-size: 1.15rem;
}

.yourSeatsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  margin: 0 auto;
  width: 100%;
}

.chosenSeatsDisplay {
  margin-top: .5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .3rem .5rem;
  width: 100%;
  min-height: 40px;
  border-radius: 7px;
  background-color: #484848;
}

.yourSeats {
  color: rgb(224, 224, 224);
  margin: 0 .2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.showSmall {
  margin-top: 1rem;
}

.hideSmall {
  display: none;
}

.btnContainer {
  height: 50px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.btn p {
  font-size: 1.2rem;
  position: absolute;
}

.ticketsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.chooseTicketsWrapper {
  width: 100%;
}

.ticketsHeader {
  margin: 2rem 0 .4rem 0;
  display: flex;
  justify-content: space-between;
}

.seatMapNumber {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: var(--main-header);
  min-width: 80px;
  text-align: right;
}

@media screen and (min-width: 560px) {
  .overviewWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .yourInfoWrapper {
    width: 45%;
  }
  .yourInfo {
    background-color: initial;
    border-radius: 0;
    padding: 0rem;
  }
  .yourInfo p {
    font-size: .9rem;
    margin-bottom: .2rem;
  }
  .chosenSeatsDisplay {
    min-height: 30px;
  }
  .yourSeats {
    font-size: .85rem;
  }
}

@media screen and (min-width: 600px) {
  .container {
    margin: 0;
  }
  .chooseTicketsWrapper {
    width: 42%;
    margin-top: .7rem;
    padding-right: .7rem;
  }
  .chosenSeatsDisplay {
    background-color: rgb(104, 104, 104);
  }
  .overviewWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .yourInfoWrapper {
    width: 45%;
  }
  .ticketsWrapper {
    padding: 1.5rem;
    flex-direction: row;
    background-color: #484848;
  }
  .showSmall {
    display: none;
  }
  .hideSmall {
    display: flex;
  }
  .yourInfo p {
    font-size: 1rem;
    margin-bottom: .2rem;
  }
  .yourSeatsWrapper h4 {
    font-size: .85rem;
  }
}

@media screen and (min-width: 700px) {
  .yourInfo p {
    font-size: 1.1rem;
  }
  .chooseTicketsWrapper {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 400px;
    margin-top: 2rem;
  }

  .btnContainer img {
    
  }

  .btn p {
    font-size: 1.3rem;
    left: 70px;
    top: 30px;
  }
}
