.textContainer{
    text-align: center;
    margin: 3rem 0rem 0rem 0rem;
}
.confirmationH1{
    color: var(--main-header);
}

.confirmationWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.confirmationBox{
    background-color: #434343;
    box-shadow: var(--card-shadow);
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        'main right '
        'footer footer';
    grid-gap: 12px;
    padding: 5px;
}

.gridMain{
    grid-area: main; 
    padding: 0.5rem 0rem 0rem 0.5rem;
}
.gridFooter{
    grid-area: footer; 
    padding: 0rem 0rem 0rem 0.5rem;
}
.confirmationInfoBox{
    display: flex;
}

.confirmPosterTest{
    height: 165px;
    justify-self: end;

    grid-area: right; 
    text-align: center;
    padding: 0.6rem 0.5rem 0rem 0rem;
}

.confirmHeading{
    color: var(--secondary-header);
    font-size: 1rem;
    margin-bottom: 0.2rem;
    display: block;
    width: 140px;
    word-wrap: break-word;
}

.confirmDate{
    color: var(--secondary-header);
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.confirmP, .confirmChair{
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}
.confirmChair{
    text-transform: capitalize;

}

.bookedChairs{
    display: flex;

}

.confirmTotal{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.findOrderHistoryText{
    margin: 1.7rem 0rem 0rem 0rem;
    font-size: 0.8rem;
    display: block;
    width:90%;
    word-wrap: break-word;
}


.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.confirmBtnName{
    position: absolute;
    z-index: 10;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 0.85rem;
}


@media screen and (min-width: 768px) {
    .gridMain{
        padding: 2.3rem 0rem 0rem 2.5rem;
    }
    .gridFooter{
        padding: 2.3rem 2.5rem 0rem 2.5rem;
    }
    .textContainer{
        font-size: 1.2rem;
    }

    .confirmPosterTest{
        height: 250px;
        grid-area: right; 
        margin: 0 auto;
        padding: 2.5rem 0rem 0rem 0rem;
    }

    .confirmationBox{
        line-height: 1.6;
    }
    .confirmHeading{
        font-size: 1.4rem;
    }

    .confirmDate{
        font-size: 1.2rem;
    }
    .confirmP , .confirmChair{
        font-size: 1.2rem;
    }
    
    .confirmTotal{
        font-size: 1.3rem;
        margin-top: 0.1rem;
    }
    
    .findOrderHistoryText{
        font-size: 1rem;
    }
}
  
@media screen and (min-width: 1200px) {
    .gridMain{
        padding: 2.3rem 0rem 0rem 3.5rem;
    }
    .gridFooter{
        padding: 2.3rem 2.5rem 0rem 2.5rem;
    }
    .confirmHeading{
        width:95%;
    }
    
    .textContainer{
        font-size: 1.7rem;
    }

    .confirmPosterTest{
        height: 300px;
        padding: 2.3rem 3.5rem 0rem 3.5rem;
    }

    .confirmationBox{
        padding: 2rem 1.3rem;
        line-height: 1.6;
    }
    .confirmHeading{
        font-size: 1.8rem;
    }

    .confirmDate{
        font-size: 1.5rem;
    }
    .confirmP, .confirmChair{
        font-size: 1.5rem;
    }
    
    .confirmTotal{
        font-size: 1.6rem;
    }
    
    .findOrderHistoryText{
        font-size: 1.3rem;
    }
}