.textContainer{
    text-align: center;
    margin: 3rem 0rem 0rem 0rem;
}
.confirmationH1{
    color: var(--main-header);
}

.confirmationWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.confirmationBox{
    background-color: #434343;
    padding: 1.3rem;
    box-shadow: var(--card-shadow);
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        'main right '
        'footer footer';
    grid-gap: 12px;
    padding: 5px;
}

.gridMain{
    grid-area: main; 
    padding: 1rem;
}
.gridFooter{
    grid-area: footer; 
    padding: 0rem 0rem 0rem 1rem;
}
.confirmationInfoBox{
    display: flex;
}

.confirmPosterTest{
    height: 165px;
    grid-area: right; 
    padding: 1rem;
}

.confirmHeading{
    color: var(--secondary-header);
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    display: block;
    width:160px;
    word-wrap: break-word;
}

.confirmDate{
    color: var(--secondary-header);
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}


.confirmationWrapper hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #707070;
    padding-bottom: 0.5rem;
}

.confirmP, .confirmChair{
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}
.confirmChair{
    text-transform: capitalize;

}

.bookedChairs{
    display: flex;

}

.confirmTotal{
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.findOrderHistoryText{
    margin: 1.7rem 0rem 0rem 0rem;
    font-size: 0.8rem;
}


.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.confirmBtnName{
    position: absolute;
    z-index: 10;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 0.85rem;
}


@media screen and (min-width: 768px) {
    .textContainer{
        font-size: 1.2rem;
    }
    .confirmationWrapper{
        height: 370px;
    }

    .confirmPoster{
        height: 300px;
    }

    .confirmationBox{
        height: 300px;
        padding: 2rem 1.3rem;
        line-height: 1.6;
    }
    .confirmHeading{
        font-size: 1.3rem;
    }

    .confirmDate{
        font-size: 1.1rem;
    }
    .confirmP{
        font-size: 1rem;
    }
    
    .confirmTotal{
        font-size: 1.1rem;
        margin-top: 0.1rem;
    }
    
    .findOrderHistoryText{
        font-size: 0.9rem;
    }
}
  
@media screen and (min-width: 1200px) {
    .textContainer{
        font-size: 1.6rem;
    }
    .confirmationWrapper{
        height: 470px;
    }

    .confirmPoster{
        height: 350px;
    }

    .confirmationBox{
        height: 350px;
        padding: 2rem 1.3rem;
        line-height: 1.6;
    }
    .confirmHeading{
        font-size: 1.6rem;
    }

    .confirmDate{
        font-size: 1.3rem;
    }
    .confirmP{
        font-size: 1.2rem;
    }
    
    .confirmTotal{
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    
    .findOrderHistoryText{
        font-size: 1rem;
    }
}