.textContainer{
    text-align: center;
    margin: 3rem 0rem 3rem 0rem;
}
.confirmationH1{
    color: var(--main-header);
}

.confirmationWrapper{
    display: flex;
    height: 450px;
}

.confirmationBox{
    background-color: #434343;
    padding: 0.7rem;
    height: 200px;
}

.confirmPoster{
    height: 200px;
    margin: 0rem 0.5rem 0rem 0rem;
}

.confirmHeading{
    color: var(--secondary-header);
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
}

.confirmDate{
    color: var(--secondary-header);
    font-size: 0.55rem;
    margin-bottom: 0.2rem;
}

.confirmP{
    font-size: 0.55rem;
}

.confirmTotal{
    font-size: 0.6rem;
    margin-top: 1.2rem;
}

.findOrderHistoryText{
    margin: 0.5rem 0rem 0rem 0rem;
    font-size: 0.5rem;
}

.confirmationInfo{
    display: flex;
    flex-direction: column;
}

.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.confirmBtnName{
    position: absolute;
    z-index: 10;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 0.85rem;
}


@media screen and (min-width: 768px) {
    .confirmPoster{
        height: 300px;
    }

    .confirmationBox{
        padding: 2rem 1.3rem;
        line-height: 1.6;
    }
    .confirmHeading{
        font-size: 1rem;
    }
    .confirmP{
        font-size: 0.8rem;
    }
    
    .confirmTotal{
        font-size: 0.9rem;
    }
    
    .findOrderHistoryText{
        font-size: 0.8rem;
    }
}
  
@media screen and (min-width: 1200px) {

}