.featuredMovieWrapper {
    max-height: 300px;
    position: relative;
    display: flex;
}

.gradientWrapper {
    width: 100%;
    position: relative;
}

.headerImg {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.gradient {
    background: linear-gradient(
        180deg,
        #2626261f 11.85%,
        #262626 101.01%
      );
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.imgWrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
    align-items: end;
}

.posterImg {
    width: 100%;
}

.title {
    font-weight: 500;
    font-size: 1.4rem;
}

.date {
    color: var(--secondary-header);
    font-size: 1.3rem;
}

.dateDesktop {
    display: none;
}

.buyTickets {
    display: none;
}

@media (min-width: 768px) {

    .headerImg {
        width: 75%;
    }

    .imgWrapper {
        bottom: 0px;
        left: 0px;
        grid-template-columns: 26% 69%;
        width: 100%;
    }

}