.heroWrapper {
  background: url("https://images.unsplash.com/photo-1513111168953-34fc252c9279?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1867&q=80");
  background-size: cover;
  /* min-height: 30vh; */
  min-height: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  padding-bottom: 10px;
}

.heroWrapper h1 {
  font-size: 1.35rem;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: .3rem;
}

/*--Btn Styles--*/
.btnContainer {
  margin-bottom: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
}

.btn p {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;

  cursor: pointer;
  font-family: var(--special-font);
  font-size: 22px;
}

.btnContainer img {
  width: 150px;
  cursor: pointer;
}
/*--END Btn Styles--*/

@media screen and (min-width: 350px) {
  .heroWrapper h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  .heroWrapper {
    min-height: 245px;
  }

  .heroWrapper h1 {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .heroWrapper {
    /* min-height: 28vh; */
    min-height: 265px;
    padding-bottom: 15px;
  }
  
  .heroWrapper h1 {
    font-size: 31px;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: .3rem;
  }

  .heroWrapper button {
    font-size: 20px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .heroWrapper {
    min-height: 270px;
  }
  .heroWrapper h1 {
    margin-bottom: .5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .heroWrapper {
    min-height: 320px;
  }

  .heroWrapper h1 {
    font-size: 38px;
    margin-bottom: .5rem;
  }

  .heroWrapper button {
    font-size: 25px;
  }

   /*--Btn Styles--*/
   .btn p {
    font-size: 28px;
   }
   .btnContainer img {
    width: 200px;
  }
  /*--END Btn Styles--*/
}

@media only screen and (min-width: 1600px) {
  .heroWrapper h1 {
    font-size: 60px;
  }
}
