.movieCard {
    display: grid;
    grid-template-columns: 18% 76%;
    column-gap: 6%;
    border-bottom: 1px solid var(--main-header);
    padding-bottom: 15px;
}

.movieCard img {
    width: 100%;
}

.movieCard h4 {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
}

.movieInfoDetails {
    display: flex;
    color: var(--secondary-header);
}

.movieGenre {
    padding-right: 8px;
    border-right: 1px solid #777;
}

.movieLength {
    padding: 0 8px;
}

.movieAgeLimit {
    padding-left: 8px;
    border-left: 1px solid #777;
}