.moviePosterContainer{
    position: relative;
    margin-top: 2rem;
}
.movieDetailsPlaceHolder{
    width: 100%;
    height: 25vh;  
    object-fit: cover;
    background-position: center;
    position: relative;
}

.posterTitleGenre{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.movieDetailsPoster{
    width: auto;
    height: 130px;
}

.titleGenre{
    margin-left: 10px;
    align-self: flex-end;
}

.detailsTitle{
    font-size: 0.8rem;
}

.detailsGenre{
    font-size: 0.6rem;
    color: var(--secondary-header);
}

.detailsGenreLength{
    display: flex;   
}

.playbtn{
    width: 50px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 768px) {
    .movieDetailsPlaceHolder{
        height: 30vh; 
        overflow: hidden;
        position: relative;
        width: 100%; 
    }

    .posterTitleGenre{
        display: flex;
        position: absolute;
        bottom: -10px;
        left: 0px;
    }

    .movieDetailsPoster{
        position: relative;
        height: 30.8vh;
        padding-bottom: 8px;

    }

    .titleGenre{
        padding-bottom: 10px;
    }
    .detailsTitle{
        font-size: 1.4rem;
    }
    
    .detailsGenre{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .detailsTitle{
        font-size: 1.8rem;
    }
    
    .detailsGenre{
        font-size: 1.3rem;
    }

    .posterTitleGenre{
        bottom: 0px;
    }
}


/*
    
(min-width: 768px)
    
(min-width: 1200px)
*/


