.infoHeading{
    color: var(--secondary-header);
}

.btnContainer{
    position: relative;
    text-align: center;
}

.infoBtn{
    margin: 0 auto;
    height: 4rem;
    width: 95%;
}

.infoBtnName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 1.2rem;
}

.actorList{
    color: white;
}