.moviePosterContainer{
    position: relative;
}

.movieDetailsPoster{
    width: 100vw; 
    height: 25vh;  
    object-fit: cover;
    position: relative;
}

.playbtn{
    width: 65px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



