/* MovieList */

.heading {
    color:var(--main-header);
    margin: 40px 0 10px 0;
}

.filterLine {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--main-header);
}

.filterLine h3 {
    font-size: 1.1rem;
}

.filterLine a {
    text-decoration: none;
    color: #E9E9E9;
}


/* FeaturedMovie */ 

.featuredMovieWrapper {
    max-height: 300px;
    position: relative;
    display: flex;
}

.featuredMovieWrapper img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.imgOverlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
    align-items: end;
}

.title {
    font-weight: 500;
    font-size: 1.4rem;
}

.date {
    color: var(--secondary-header);
    font-size: 1.3rem;
}