.navbar {
  display: flex;
  max-height: 80px;
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: #262626;
  border-bottom: 1px solid #e9e9e9;
}

.navbar a {
  color: #e9e9e9;
  text-decoration: none;
}

.links {
  display: none;
}

.filmStrip {
  display: none;
}

.navbar i {
  font-size: 30px;
  padding: 1.3rem;
  display: flex;
  align-items: center;
}

.close i {
  width: 67.8px;
  height: 71.6px;
  font-size: 38px;
}

.pic {
  display: flex;
  justify-content: center;
}

.pic img {
  max-width: 70%;
  max-height: 70%;
  margin: auto;
}

.hamburgerLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  width: 100%;
  top: 71px;
  height: 100vh;
  padding-top: 1rem;
  z-index: 11;
  border-top: 1px solid #e9e9e9;
}

.hamburgerLinks a {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
}

.filmStripDesktop {
  display: none;
}

.links a:hover,
.links p:hover {
  color: white;
}

.links a:active,
.links p:active {
  text-shadow: 1px 1px #e9e9e9;
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: column;
    max-height: 100%;
    border-bottom: 0;
    position: static;
  }

  .filmStrip {
    display: inline;
    max-height: 20px;
  }

  .pic img {
    width: 25%;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  .links {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
  }

  .links a,
  .links p {
    padding: 5px;
  }

  .navbar span {
    border-left: 7px solid #808080;
  }

  .navbar i,
  .hamburgerLinks {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .filmStripDesktop {
    display: inline;
  }

  .filmStrip {
    display: none;
  }

  .links {
    width: 850px;
    justify-content: center;
    margin: 0 auto;
  }

  /* .links a,
  .links p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    min-width: 145px;
    text-align: center;
  } */

  .links a {
    font-size: 22px;
    padding: 5px 20px 5px 20px;
  }

  .navbar span {
    border-left: 5px solid #808080;
  }

  .pic img {
    width: 30%;
    max-width: 350px;
  }
}
