.navbar {
  display: flex;
  color: red;
}

.links {
  display: none;
}

.navbar i {
  font-size: 2rem;
  padding: 1rem;
}

.pic {
  display: flex;
  justify-content: center;
}

.pic img {
  width: 50%;
  height: 70%;
  margin: auto;
}
