.postersContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    margin-top: 1rem;
}

.posterContainerOne {
    width: 190%;
    margin-right: 0.5rem;
}

.posterContainerTwo {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 90%;
}


.imgOne {
    width: 100%;
    height: 100%;
}

.imgTwo {
    width: 100%;
    margin-bottom: 0.5rem;
}

.imgThree {
    width: 100%;
}