.seatMapWrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.seatMap {
  width: 100%;
  margin: 0 auto;
}

.screenIndicator {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
  height: 20px;
  width: 100%;
}

.screenLine {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CF8D83;
}

.seatMapWrapper .screenHeading {
  color: #CF8D83;
  z-index: 1;
  background-color: #262626;
  padding: 0 .9rem;
}

.seatMapHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seatMapNumber {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  color: var(--main-header);
  min-width: 80px;
  text-align: right;
}

.rowName {
  text-transform: uppercase;
  margin-left: .3rem;
  min-width: 15px;
  text-align: center;
  font-size: 1.1rem;
}

.seatRow {
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: .07rem;
}

.seat {
  display: flex;
  align-items: center;
  flex: 1;
  height: 40px;
  justify-content: center;
  font-size: .85rem;
  background-color: #FFFFFF;
  color: rgb(123, 132, 151);
  border-radius: 2px 2px 9px 9px;
  border: 1px solid black;
  margin: .09rem;
  text-align: center;
  cursor: pointer;
}

.seatNrCss {
  pointer-events: none;
}

.seatsDiv {
  margin-top: .5rem;
  text-align: center;
}

.hoverSeat {
  transform: scale(1.05);
  background-color: rgb(181, 206, 214);
}

.booked {
  background-color: #894A4A;
}

.booked .seatNrCss {
  color: rgb(194, 194, 194);
}

.booked.hoverSeat {
  background-color: #aa3b3b;
}

.chosen {
  background-color: #7C96AC;
}

.chosen .seatNrCss {
  color: rgb(243, 243, 243);
}

@media screen and (min-width: 500px) {
  .seat {
    height: 50px;
    font-size: .9rem;
  }
}

@media screen and (min-width: 600px) {
  .seatMapWrapper {
    width: 55%;
    margin: 0;
  }
  .seat {
    height: 35px;
    font-size: .65rem;
  }
  .seatMapWrapper .screenHeading {
    background-color: #484848;
  }
}

@media screen and (min-width: 700px) {
  .seat {
    height: 40px;
    font-size: .85rem;
  }
  .seatMapWrapper {
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .seatMapWrapper {
    width: 46%;
  }
  .seat {
    height: 52px;
    font-size: .95rem;
  }
}
