.seatMapWrapper {
  background-color: #262626;
  padding: .5rem;
}

.seatMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(92, 92, 92);
}

.screenIndicator {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.rowName {
  text-transform: uppercase;
  margin-left: .4rem;
}

.seatRow {
  display: flex;
  align-items: center;
}

.seat {
  border-radius: 2px;
  cursor: pointer;
  width: 22px;
  font-size: .9rem;
  height: 25px;
  text-align: center;
  color: rgb(54, 54, 54);
  margin: .1rem;
  border: 1px solid black;
  background-color: rgb(218, 218, 218);
}

.seatMapWrapper .yourSeats {
  color: rgb(151, 188, 218);
  margin: 0 .2rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.seat:active {
  transform: scale(1.08);
}

.booked {
  color: rgb(214, 214, 214);
  background-color: #894A4A;
}

.chosen {
  color: white;
  background-color: #7C96AC;
}