.startWrapper p {
  color: red;
  border: 1px solid white;
  width: 100px;
  padding: 2rem;
  margin: 1rem;
}

.startWrapper span {
  color: rgb(109, 109, 109);
  font-size: .8rem;
}

.startHeader {
  color: var(--main-header);
  margin: 1rem;
  border-bottom: 5px solid white;
}

