.container {
  max-width: 400px;
  margin: 0 auto;
}

.ticketInfoWrapper {
  width: 100%;
}

.ticketInfo {
  position: relative;
  display: flex;
  width: 100%;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ticketTitle {
  font-size: .95rem;
  margin-bottom: .1rem;
}

.ticketTime {
 font-size: .75rem;
 margin-bottom: .2rem;
}

.ticketPrice {
  font-size: .9rem;
}

.ticketPrice hr {
  margin-bottom: .2rem;
}

.ticketInfo hr {
  opacity: .6;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono';
  padding: .3rem .4rem;
  width: 70%;
  z-index: 5;
}

.ticketTypes {
  height: 100%;
  margin: .5rem 0;
  font-size: .8rem;
}

.imageContainer {
  height: 160px;
  z-index: 5;
}

.ticketInfo .poster {
  border-radius: 3px;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .movieInfo {
    font-size: 18px;
  }

  .ticketInfo {
    margin-left: 2rem;
  }

  .container h2 {
    font-size: 25px;
  }

  .ticketInfo {
    top: 62px;
    left: 20px;
  }
}
