.container img {
  margin-left: 2rem;
}

.container p {
  position: relative;
}

.tickets,
.barnTicket {
  position: relative;
}

.tickets p {
  position: absolute;
  left: 53px;
  top: 15px;
}

.barnTicket p {
  position: absolute;
  left: 73px;
  top: 15px;
}
