.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.ticketInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.ticketInfo {
  display: flex;
  align-items: stretch;
  justify-content: center;
  z-index: 5;
  padding: 0 0rem;
  width: 85%;
  height: 100%;
}

.verticalLine {
  position: relative;
  z-index: 10;
  border-right: 2px dotted rgb(55, 64, 80);
  z-index: 10;
  margin: 0 .3rem;
  width: 0px;
}

.bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ticketTitle {
  font-size: .85rem;
  margin-bottom: .15rem;
}

.ticketTime {
  display: block;
  font-size: .75rem;
  margin-bottom: .15rem;
  opacity: 1;
  font-weight: bold;
}

.ticketPrice {
  font-size: .7rem;
  font-weight: bold;
}

.ticketPrice hr {
  margin-bottom: .2rem;
}

.ticketInfoWrapper hr {
  margin-top: .2rem;
  opacity: .3;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Roboto Mono';
  padding: .7rem 0 .7rem .3rem;
  z-index: 5;
  width: 60%;
}

.ticketTypes {
  margin: .2rem 0 .15rem 0;
  font-size: .7rem;
  opacity: .8;
}

.imageContainer {
  display: flex;
  align-self: center;
  /* align-self: flex-start; */
  /* height: 97px; */
  padding: .7rem 0;
  width: 30%;
  z-index: 5;
}

.poster {
  border-radius: 3px;
  width: 100%;
  padding-right: .3rem;
}

@media screen and (min-width: 340px) {
  .ticketPrice {
    font-size: .75rem;
  }
}

@media screen and (min-width: 375px) {
  .ticketInfo hr {
    max-width: 160px;
  }
  .ticketTitle {
    font-size: .9rem;
  }
  .ticketTime {
    font-size: .85rem;
  }
  .ticketPrice {
    font-size: .83rem;
  }
  .ticketTypes {
    font-size: .8rem;
    margin: .2rem 0 .15rem 0;
  }
}

@media screen and (min-width: 414px) {
  .ticketTitle {
    font-size: 1rem;
  }
  .ticketTime {
    font-size: .9rem;
  }
  .ticketPrice {
    font-size: .9rem;
  }
  .ticketTypes {
    font-size: .85rem;
    margin: .2rem 0 .15rem 0;
  }
}

@media screen and (min-width: 460px) {
  .ticketTitle {
    font-size: 1.15rem;
  }
  .ticketTime {
    font-size: 1rem;
  }
  .ticketPrice {
    font-size: .93rem;
  }
  .ticketTypes {
    font-size: .85rem;
    margin: .2rem 0 .15rem 0;
  }
  .movieInfo {
    width: 55%;
  }
  .imageContainer {
    width: 30%;
  }
  .verticalLine {
    border-right: 3px dotted rgb(55, 64, 80);
    margin: 0 .6rem;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 50%;
    margin: 0;
  }
  .ticketTitle {
    font-size: .85rem;
  }
  .ticketTime {
    font-size: .8rem;
  }
  .ticketPrice {
    font-size: .83rem;
  }
  .ticketTypes {
    font-size: .8rem;
    margin: .2rem 0 .15rem 0;
  }
  .movieInfo {
    width: 60%;
  }
  .imageContainer {
    width: 30%;
  }
  .verticalLine {
    border-right: 2px dotted rgb(55, 64, 80);
    margin: 0 .3rem;
  }
}
